callee
codecov
pre-commit
pytest
pytest-cov
pytest-datadir
pytest-mock
hypothesis
statsmodels
zarr
msprime
scikit-learn
partd
fsspec
bed-reader
git+https://github.com/pangeo-data/rechunker.git
cbgen
cyvcf2; platform_system != "Windows"
yarl
