myst_nb
pydata-sphinx-theme
sphinx >= 3.3
sphinx_autodoc_typehints 
# Work around problem with autodoc_typehints
# https://github.com/theislab/scanpydoc/pull/32
git+https://github.com/theislab/scanpydoc.git#egg=scanpydoc
sphinx-book-theme
scanpydoc
ipython
matplotlib
graphviz
seaborn
