callee
codecov
pre-commit
pytest
pytest-cov
pytest-datadir
pytest-mock
hypothesis
scikit-allel
statsmodels
msprime
scikit-learn
partd
bed-reader
rechunker
cbgen
cyvcf2; platform_system != "Windows"
yarl
matplotlib
asv
