name: Validation

on:
  schedule:
    # Run at the end of every day
    - cron: "0 0 * * *"
  # manual trigger
  workflow_dispatch:

jobs:
  validation_suite:
    # This workflow only runs on the origin org
    if: github.repository_owner == 'pystatgen'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: google-github-actions/setup-gcloud@master
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
    - name: Download public test data (real HapMap data)
      run: gsutil -u $GCLOUD_PROJECT cp gs://sgkit-data/validation/hapmap_JPT_CHB_r23a_filtered.zip /tmp/
    - name: Validate PC Relate
      run: ./validation/gwas/method/pc_relate/run.sh /tmp/hapmap_JPT_CHB_r23a_filtered.zip
